@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply selection:bg-green-800 selection:text-gray-1200;
}

.rd3t-link {
  @apply stroke-green-900/70 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.gray.100');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.600');
  border-radius: 8px;
}
